.main {
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
}

.h1 {
  text-align: center;
  margin-top: 0;
  line-height: 2rem;
}

.container {
  padding: 40px;
  margin: 20px auto;
}

.server-error {
  display: flex;
  text-align: center;
}

.nav {
  display: flex;
  gap: 1rem;
}
