.discount-wrapper {
  display: grid;
  margin-right: 0;
  margin-left: auto;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr;
}

.promo-applied-wrapper {
  display: flex;
  margin: auto 0 auto auto;
}

.promo-applied {
  display: flex;
  color: rgb(11 100 11);
  font-weight: bold;
  margin-right: 10px;
}

.promo-applied-icon {
  display: flex;
  margin: auto;
  cursor: pointer;
}
