.removing-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: 5;
  display: flex;
}

.removing-message {
  position: relative;
  display: flex;
  margin: auto;
}
