.list-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.filters-button {
  font-weight: bold;
  max-width: fit-content;
  margin-right: 15px;
  margin-bottom: 10px;
}

@media (width <= 592px) {
  .list-controls {
    flex-wrap: wrap;
  }
}

@media (width <= 312px) {
  .list-controls {
    justify-content: space-around;
  }
}
