.catalog-content {
  display: flex;
  width: 100%;
  position: relative;
}

.list-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 15px;
}

.filters-button {
  display: none;
  font-weight: bold;
  max-width: fit-content;
  margin-right: 15px;
  margin-bottom: 10px;
}

.spin {
  display: flex;
  margin: auto;
}

.hidden {
  display: none;
}

@media (width <= 592px) {
  .list-controls {
    flex-wrap: wrap;
  }
}

@media (width < 570px) {
  .filters-button {
    display: block;
  }
}

@media (width <= 312px) {
  .list-controls {
    justify-content: space-around;
  }
}

.product-container,
.products-list {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.pagination-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.page-numbers {
  display: flex;
  gap: 8px;
  align-items: center;
}

.ellipsis {
  padding: 0 8px;
}
